@font-face {
  font-family: PretendardVariable;
  src: url("./font/PretendardVariable.woff2") format(woff2);
  font-style: normal;
}
* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 15px;
  font-family: "PretendardVariable", "Noto Sans TC", sans-serif;
}

p {
  font-family: "PretendardVariable";
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  -webkit-hyphens: none;
          hyphens: none;
}

body {
  background: linear-gradient(180deg, #FF2F33 0%, #FFFFFF 4%, #FFFAFB 6%, #F7B1B2 88%, #FF2F33 100%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 60vh;
}

.logo-wrapper {
  width: 100vw;
  height: 100%;
}

.type1 {
  width: 13.5rem;
}

.type2 {
  width: 14.15rem;
}

.type3 {
  width: 11.875rem;
}

.type4 {
  width: 11.75rem;
}

.type5 {
  width: 10.465rem;
}

.type6 {
  width: 11.3125rem;
}

.type-image {
  position: absolute;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc((100vw - 2rem) / 12 * 11.5);
}
.logo img {
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  height: 40vh;
}
.welcome p {
  text-align: center;
  width: calc((100vw - 2rem) / 12 * 6);
}
.welcome p span {
  color: #fff;
  background-color: #000;
  padding: 0 2px 0 2px;
}

.info {
  width: 100%;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section-title img {
  width: calc((100vw - 2rem) / 12 * 3.5);
}

.info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
.info-list p {
  margin: 0;
  width: calc((100vw - 2rem) / 24 * 13);
}

.order {
  width: 9rem;
  height: 3rem;
  background-color: #000;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  font-size: 2rem;
  padding-top: 0.3rem;
  margin-right: calc((100vw - 2rem) / 24 * 1);
}

.timetable {
  width: 100%;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

table {
  width: calc((100vw - 2rem) / 12 * 6);
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  border-collapse: collapse;
}
table tr {
  border-top: 1px dashed #000;
  font-size: 1.25rem;
}
table tr td:nth-child(1) {
  font-family: "PretendardVaiable";
  font-weight: 500;
  padding-left: 1rem;
}
table tr td:nth-child(2) {
  font-family: "PretendardVariable";
  font-weight: 800;
}
table tr:nth-child(1) {
  border: none;
}
table td {
  padding: 1rem 0 0.8rem;
}

.proto {
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem 0;
}
.proto img {
  width: calc((100vw - 2rem) / 12 * 0.8);
}

@media screen and (max-width: 760px) {
  body {
    background: linear-gradient(180deg, #FF2F33 0%, #FFFFFF 12%, #FFFAFB 14%, #F7B1B2 88%, #FF2F33 100%);
  }
  .main {
    height: 100vh;
  }
  .logo-wrapper {
    padding-top: 6rem;
  }
  .logo img {
    width: calc((100vw - 2rem) / 12 * 12);
  }
  .welcome {
    padding-top: 3rem;
    height: 60vh;
  }
  .welcome p {
    text-align: center;
    width: calc((100vw - 2rem) / 12 * 10);
  }
  .welcome p span {
    color: #fff;
    background-color: #000;
    padding: 0 2px 0 2px;
  }
  .info-list p {
    width: calc((100vw - 2rem) / 12 * 8);
  }
  .section-title img {
    width: calc((100vw - 2rem) / 12 * 5);
  }
  table {
    width: calc((100vw - 2rem) / 12 * 9);
  }
}
.proto img {
  width: calc((100vw - 2rem) / 12 * 2);
}

.type1 {
  width: 20rem;
}

.type2 {
  width: 21rem;
}

.type3 {
  width: 18rem;
}

.type4 {
  width: 18rem;
}

.type5 {
  width: 17rem;
}

.type6 {
  width: 17rem;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }
  .logo-wrapper {
    height: 100vh;
    padding-top: 6rem;
  }
  .logo img {
    width: calc((100vw - 2rem) / 12 * 12);
  }
  .info-list p {
    width: calc((100vw - 2rem) / 12 * 9);
  }
  tr td:nth-child(1) {
    font-family: "PretendardVaiable";
    font-weight: 500;
    padding-left: 1rem;
  }
  tr td:nth-child(2) {
    font-family: "PretendardVariable";
    font-weight: 600;
  }
}/*# sourceMappingURL=style.css.map */
